<!-- Team -->
<div class="description">
<h2>The Executive Team</h2>
<div style="font-size: medium;">
Here are your representatives for the academic term 2021-22.
</div>
</div>
<div class="heading">
  <h4><center><u>President and Vice-Presidents</u></center></h4>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Abigail Marsh</h2>
        <p class="title">President</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>president@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Torie Wotton</h2>
        <p class="title">Vice-President of Internal Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.internal@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Alison Francis</h2>
        <p class="title">Vice-President of Finance</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.finance@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Sravya Cherukuri</h2>
        <p class="title">Vice-President of Academic Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.academic@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Carson Baker</h2>
        <p class="title">Vice-President of Social Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.social@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Hayley Touchburn</h2>
        <p class="title">Vice-President of Bilinguilism</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.bilingual@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Nabila Antora</h2>
        <p class="title">Vice-President of International Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.international@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Oyin Faluyi</h2>
        <p class="title">Vice-President of Philanthropy</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.philanthropy@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Camilla Guiterrez</h2>
        <p class="title">Vice-President of Communications</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.communications@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <h4><center><u>Directors, Junior Vice-Presidents and Summer Executive</u></center></h4>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Liam O'Brien</h2>
        <p class="title">Director of Student Eng. and Outreach</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>outreach@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Charlotte Stretton</h2>
        <p class="title">Director of External Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>external@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Aayush Gugnani</h2>
        <p class="title">Director of IT</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>it@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Omni Sayeda</h2>
        <p class="title">Director of Promotions</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>promo@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Vacant</h2>
        <p class="title">JVP of Academic Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.academic@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/exec/sample.jpeg" style="width:100%">
      <div class="container">
        <h2>Vacant</h2>
        <p class="title">JVP of Social Affairs</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>vp.social@ecouo.ca</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="assets/images/exec/sample.jpeg" style="width:100%">
    <div class="container">
      <h2>Vacant</h2>
      <p class="title">JVP of Bilinguilism</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>vp.bilingual@ecouo.ca</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="assets/images/exec/sample.jpeg" style="width:100%">
    <div class="container">
      <h2>Vacant</h2>
      <p class="title">101 Week Coordinator</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>101coordinator@ecouo.ca</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top" scroll-behaviour: smooth;>Top</button>

<style>
  /* Three columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 50px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 10px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: darkgreen;
  font-size: 15px;
  margin-top: 0px;
  opacity: 0.7;

}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.description {
  line-height: 10px;
  }
  
.heading {
  margin-top: -40px;
  margin-bottom: 20px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: darkgreen; /* Set a background color */
  color: whitesmoke; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color:green; /* Add a dark-grey background on hover */
}
</style>

<script>
//Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>